{% extends '_layouts/detail.njk' %}
{% set member = data.members[0] %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block info %}
  <img src="../img/{{ member.image }}" alt="{{ member.name }}" class="img-fluid border float-right">
{% endblock %}

{% block story %}
  <h1 class="mb-1" id="bigtext">{{ member.name }}</h1>
  <h3>{{ member.instruments }}</h3>
  <h5><em>{{ member.tenure }}</em></h3>
  {{ member.text | safe }}
{% endblock %}
