// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "_nav.scss";
@import "_jumbotron.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', 'serif';
}

#bigtext {
  font-size: 3rem;
  text-shadow: 4px 4px 4px #aaa;
}

p, a {
  font-family: 'Raleway', 'sans-serif';
}

a, a:hover {
  color: #000000 !important;
  text-emphasis: none;
}

#memberscards {
  background-image: url("../img/queen-live-on-stage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#membername {
  font-size: 2rem;
  text-shadow: 2px 2px 2px #aaa;
}

#members {
  font-size: 3rem;
  text-shadow: 4px 4px 4px #000000;
  color: white;
};